{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- contact us page -->
<!-- Author: Kirodh Boodhraj-->
<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="mb-3">Contact Us</h2>
    <p>If you have any questions, suggestions, or feedback, feel free to reach out to us!</p>
    <br>
    <br>
    <h4>DFFE Project leader: Andrew Wannenburgh</h4>
    <br>
    <ul class="list-unstyled mt-3">
      <li><strong>Email:</strong> awannenburgh @ dffe.gov.za</li>
    </ul>

    <hr>
    <h4>MUCP Tool Development Company</h4>
    <p>For more information about CSIR please visit the <a href="https://www.csir.co.za" target="_blank" style="font-style: italic; font-weight: bold; color: #007bff;">CSIR Website</a>.</p>
    <br>
    <br>
    <br>
    <hr>


  </div>
</div>
{% endblock %}
