{% load static %}

<footer class="mt-5 bg-light py-4">
    <div class="container text-center">
        <h5 class="mb-4">Our Partners</h5>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <img src="{% static 'collaborators/csirlogo.png' %}" class="img-fluid" alt="CSIR Partner">
            </div>
            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <img src="{% static 'collaborators/workingforwaterlogo.jpg' %}" class="img-fluid" alt="WFW Partner">
            </div>
            <!-- Add more logos as needed -->
        </div>
    </div>
</footer>
