{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- registration page -->
<!-- Author: Kirodh Boodhraj-->
<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<br>
<p>By registering, you agree to the MUCP tool POPI act <a href="https://drive.google.com/file/d/1cpdHaExszDS3CC4b13677gWjft0FXu6E/view?usp=sharing" target="_blank">Regulations and Privacy Policy</a>.</p>
{% endblock %}
