{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- support clearing norm set create -->
<!-- Author: Kirodh Boodhraj-->
<div class="container mt-5" style="max-width: 700px;">
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-success text-white">
            <h4>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Clearing Norm Set</h4>
        </div>
        <div class="card-body">

            <!-- Clearing norm set -->
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <div class="d-flex justify-content-between mt-4">

                    <a href="{% url 'support:clearing_norm_list' %}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Cancel
                    </a>

                    <button type="submit" class="btn btn-success fw-bold">
                        <i class="bi bi-check-circle"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
